/* Layout */

section {
  max-width: 1200px;
  margin: 0 auto;

  /* Responsive padding */
  padding: clamp(var(--space-2xl), 5vw, var(--space-4xl))
    /* 40px - 80px      16px-40px */
    clamp(var(--space-md), 5vw, var(--space-2xl));
  margin-bottom: var(--space-4xl);
}
